body {
    background-color: #022873 ;
    text-align: center;

}

h3 {
    color: white;
}

h2 {
    color: white;
}

.container-button {
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    min-width: 250px;
    height: 40px;
    
    .button-check {
        min-width: 125px;
        font-size: 20px;
        font-weight: 800;
        cursor: pointer;

        span {
            color: white;
            padding: 7px;
        }
        
        :hover {
            background-color: #004bde;
            min-width: 125px;
            height: 40px;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }


    .active {
        background-color: #003db7;
        border-radius: 12px;
        height: 100%;
        min-width: 125px;
    }

    
}



.container-gruop{
    background-color: rgb(255, 255, 255, 0.65);
    border-radius: 5px;
    width: 100%;
    height: 300px;
    padding: 18px 5px 6px 4px;
    margin-bottom: 15px;
    

    .button{
        background-color: white;
        color: #022873;
        width: 15rem;
        height: 3rem;
        border: none;
        border-radius: 30px;
        font-size: 20px;
        font-weight: 900;
        
    }

    .button:hover {
        background-color: rgb(236, 236, 236) !important;

    }

    .title {
        color: #022873;
        font-size: 20px;
        font-weight: 800;
        padding: 15px;
    }

    .sub-title {
        color: #022873;
        font-size: 20px;
        font-weight: 900;
        padding: 5px;
    }
}


@media (max-width: 992px) {
    .center-media {
        display: flex ;
        justify-content: center !important;
        align-items: center !important;
    }
}

@media (max-width: 576px){
    .container-button {
        height: 34px;

        .button-check{
            font-size: 16px !important;
        }
    }
}
#cxpontos {
    background-color: #e3e8f1;
    border-radius: 5px;
    border-color: #d7dce7;
    width: 30px;
    height: 30px;
    text-align: center;
}

.table {
    width: 90%;
    margin: auto;
    overflow: scroll;
    margin-bottom: 15px;
    
}
